html,body{
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
h1{
  font-size: 70px;
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
}
#main{
  font-size: 40px;
}
h2{
  font-family: 'RocknRoll One', sans-serif;
  color: blue;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
p{
  position: relative;
  text-align: center;
  font-size: 20px;
  margin: 0 auto 0 auto;
  font-family: 'Merriweather', serif;
}
.top-container{
    background-color: skyblue;
    padding-top: 100px;
    font-family: sans-serif;
}
.middle-container{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: dodgerblue;
    text-align: center;
}
.bottom-container{
  padding-top: 100px;
  padding-bottom: 100px;
    background-color: dodgerblue;
    text-align:center;
}
.mountain{
  display: block;
  margin: 0 auto;
  position: relative;
  width: 750px;
}
.bottom-cloud{
  display: block;
  margin: 0 auto;
  position: relative;
  left: 500px;
}
.top-cloud{
  display: block;
  margin: 0 auto;
  position: relative;
  right: 600px;
  top: 200px;
}
.birds{
  display: block;
  margin: 0 auto;
  width: 200px;
  position: relative;
  right: 500px;
  top: 100px;
}
.sun{
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  position: relative;
}
a:hover{
  color:gold;
}
.lang{
  height: 200px;
  width: auto;
}
hr{
  border-color: skyblue;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 10%;
}
.btn{
  position: relative;
  top: 40px;
}
.skills{
  padding-top: 100px;
  text-align: center;
}
.contact-me{
  text-align:center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.profile{
  padding-bottom: 100px;
}
.skill-row{
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  position: relative;
}
.skill-rows{
  display: block;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  left: 35%;
}
.footer-link{
  padding-left: 20px;
  padding-bottom: 40px;
}
.end{
  padding-top: 40px;
}
.mail{
  margin-top: 50px;
}
.button{
    background-color: skyblue;
    border-style: strong;
    border-color: royalblue;
    border-radius: 12px;
    color: black;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.button:hover{
  background-color: royalblue;
  border-color: skyblue;

}
.prof-img:hover{
  border-radius: 75px;
  height: 300px;
  width: 300px;
}
